<h4>Testimonials</h4>
<div id="testimonials" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {{ range first 1 .Site.Data.testimonials.testimonials }}
        <div class="carousel-item active">
            <p class="d-block w-100">"{{ .quote }}"</p>
        </div>
        {{ end }}
        {{ range after 1 .Site.Data.testimonials.testimonials }}
        <div class="carousel-item">
            <p class="d-block w-100">"{{ .quote }}"</p>
        </div>
        {{ end }}

        <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>