<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <div class="my-auto">
        <h2 class="mb-5">Contact me</h2>
        <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Your name"/>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Your email"/>
            </div>
            <div class="form-group">
                <textarea name="message" class="form-control" placeholder="Your message"></textarea>
            </div>
            <div class="form-group form-inline">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>

    </div>
</section>